.references{
  font-size:30px !important;
}

.main p{
  padding-top: 8% !important;
}

body > div.poster_wrap > div.main > p {
  top: 35%;
}

#main-img-center{
  width: 9% !important;
  bottom: 0.3in !important;
}

#main-img-right {
    width: 9.25% !important;
    bottom: 0.25in !important;
}

/*img.main-img-left{
  padding-bottom: 1cm !important;
}

img.main-img-right{
  padding-bottom: 1cm !important;
}*/

.csl-entry{
  display: list-item;
}

/*.main{
  background-image: linear-gradient(#004C97 5%, #FFF) !important;
}

/*TODO: ADJUST THE BORDERS*/